<!-- Header -->
<header class="site-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <hgroup class="title-group">
                    <h1 class="bigtitle">Contact</h1>
                    <h4>We are still ready</h4>
                </hgroup>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<main class="main" role="main">

    <!-- Address -->
    <section class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hgroup class="title-group">
                        <h3 class="section-title">Visit Us</h3>
                        <h5 class="subtitle">We look forward to meeting</h5>
                    </hgroup>
                </div>
                <div class="col-sm-8">
                    <!-- Gmap -->
                    <div id="mymap" class="mymap"></div>
                </div>
                <div class="col-sm-4">
                    <address class="address">
                        <h4 class="title">PAR</h4>
                        <p>We are native from Pangasinan, Philippines.</p>
                        <ul class="vcard">
                            <li>
                                <i class="icon icon-home"></i>
                                <span class="vcard-item">San Vicente West,<br>Urdaneta City 2428, Pangasinan</span>
                            </li>
                            <li>
                                <i class="icon icon-newsletter"></i>
                                <span class="vcard-item"><a href="mailto:par.freelance@gmail.com">par.freelance@gmail.com</a></span>
                            </li>
                            <li>
                                <i class="icon icon-phone"></i>
                                <span class="vcard-item">(123) 456-7890</span>
                            </li>
                        </ul>
                    </address>
                </div>
                
            </div>
        </div>
    </section>
    
    <!-- Contact Form / Address -->
    <section class="section contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hgroup class="title-group text-center">
                        <h3 class="section-title">Drop us a line</h3>
                        <h5 class="subtitle">We will respond as soon as possible</h5>
                    </hgroup>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <!-- Contact Form -->
                    <article class="contact-form">
                        <form action="php/contact-form.php" id="contact-form" role="form">
                            <div class="alert alert-success hidden" id="contact-alert-success">
                                <strong>Success!</strong> Thank you for your message. Reply will be in a while!
                            </div>
                            <div class="alert alert-danger hidden" id="contact-alert-error">
                                <strong>Error!</strong> Something went wrong sending your message.
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="name"></label>
                                        <input type="text" class="form-control" value="" placeholder="Name" data-msg-required="Please enter your name." name="name" id="name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="email"></label>
                                        <input type="email" value="" placeholder="E-mail" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." class="form-control" name="email" id="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="sr-only" for="message"></label>
                                        <textarea placeholder="Enter your message..." data-msg-required="Please enter your message." rows="6" class="form-control" name="message" id="message"></textarea>
                                    </div>
                                    <input type="submit" value="Send Message" class="btn btn-submit btn-block" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>