<!-- Preloader -->
<div class="preloader flex flex-middle flex-center">
    <div class="wrapper">
        <div class="loader"></div>
    </div>
</div>
<!-- Navbar -->
<nav class="navbar navbar-burger navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PAR</a>
            <span class="sr-only">Toggle navigation</span>
            <button class="icon icon-menu burger-menu"></button>
        </div>
        <div class="menu-wrapper">
            <div class="overlay-menu flex flex-middle">
                <ul class="navigation" role="menubar">
                    <li role="menuitem"><a href="/">Home</a></li>
                    <li role="menuitem"><a href="/about">About</a></li>
                    <li role="menuitem"><a href="/contact">Contact</a></li>
                    <li role="menuitem"><a href="/short-codes">Shortcodes</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>