<!DOCTYPE html>
<html class="no-js">
<head>
        <meta charset="utf-8">
        <title>PAR</title>
        <meta name="description" content="HTML5 Landing Page Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Filip Greksa">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700,800" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/assets/entypo.css">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/slick.css">
        <link rel="stylesheet" href="/assets/magnific-popup.css">
        <link rel="stylesheet" href="/assets/main.css">

        <!-- Favicon -->
        <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/assets/favicon.png">

        <script src="/assets/vendor/modernizr.js"></script>

    </head>
<body>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
